<html ng-app="app">
  <head>
    <title>My Angular app</title>
    <script src="js/angular.js"></script>
  </head>
  <body>
    <div ng-controller="MoviesController as movies">
      <ul>
        <li ng-repeat="movie in movies.favorites">
          <p>{{ movie.title }}</p>
          <p>Released in: {{ movie.year }}</p>
          <p ng-if="movie.popular">This movie is popular!</p>
          <p ng-if="movie.year > '2000'"><!--same outcome as ng-show-->
            This movie is quite new!
          </p> <!-- ng-if is data bound, destroys element-->
        </li>
      </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/MoviesController.js"></script>
  </body>
</html>
